.Cart {
	height:auto;
	position: relative;
	.details {
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		background: $color-green;
		padding: 0 5px;
		overflow: hidden;
		border-radius: $border-radius-size;
	}
	.cart-button {
		@include displayInlineFlex();
		align-items: center;
		justify-content: space-around;
		&.no-data {
			background:white;
			color: $color-dark;
			border: 1px solid $color-grey;
			i.material-icons {
				color: $color-green;
			}
		}
	}
}
.Cart-product-item {
	@include displayInlineFlex();
	align-items: center;
	justify-content: space-around;
	width: 506px;
	background: $color-green;
	color:white;
	font-size: .9em;
	height: 70px;
	border-bottom: 1px solid white;
	&:last-child {
		border:none;
	}
	> span {
		padding: 8px;
	}
	.title {
		flex: 2.5;
		@include displayInlineFlex();
		align-items: center;
		font-size: 13px;
		.index-number {
			width: 20px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			line-height: 20px;
			height:20px;
			border-radius: 50%;
			background: #039b1c;
		}
	}
	.price {
		flex: 1;
		text-align: center;
	}
	.counting {
		flex: .75;
		@include displayInlineFlex();
		justify-content: space-around;
		align-items: center;
		span {
			font-size: 17px;
		}
		i.material-icons {
			border: 1px solid white;
			cursor: pointer;
			border-radius: $border-radius-size;
		}
	}
}


@media screen and (max-width: $small-screen) {
	.Cart {
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 10;
		left: 0;
		.cart-button {
			height: 78px;
			border-radius:0;
			width: 100%;
			&.no-data {
				display: none;
			}
		}
		.details {
			bottom: 100%;
			top: unset;
			width: 100%;
			max-height: 350px;
			overflow: auto;
			box-sizing:border-box;
			border-radius: unset;
		}
	}
	.Cart-product-item {
		width: 100%;
		border-radius: 0;
		.title {
			overflow: hidden;
			flex: 2;
		}
		.price {
			flex: .7;
		}
		.counting {
			flex: 1;
			i.material-icons {
				font-size: 15px;
			}
		}
	}
}