.Cart {
	height:auto;
	position: relative;
	.details {
		position: absolute;
		left: 0;
		top: 100%;
		background: $color-green;
		padding: 0 5px;
		overflow: hidden;
		border-radius: $border-radius-size;
	}
	.cart-button {
		@include displayInlineFlex();
		align-items: center;
		justify-content: space-around;
		&.no-data {
			background:white;
			color: $color-dark;
			border: 1px solid $color-grey;
			i.material-icons {
				color: $color-green;
			}
		}
	}
}
.Cart-product-item {
	@include displayInlineFlex();
	align-items: center;
	justify-content: space-around;
	width: 506px;
	background: $color-green;
	color:white;
	font-size: .9em;
	height: 70px;
	border-bottom: 1px solid white;
	&:last-child {
		border:none;
	}
	> span {
		padding: 8px;
	}
	.title {
		flex: 2.5;
		font-size: 13px;
		.index-number {
			width: 20px;
			text-align: center;
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			line-height: 20px;
			height:20px;
			border-radius: 50%;
			background: #039b1c;
		}
	}
	.price {
		flex: 1;
		text-align: center;
	}
	.counting {
		flex: .75;
		@include displayInlineFlex();
		justify-content: space-around;
		align-items: center;
		span {
			font-size: 17px;
		}
		i.material-icons {
			border: 1px solid white;
			cursor: pointer;
			border-radius: $border-radius-size;
		}
	}

}