@mixin boxShadow() {
	box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
}

@mixin crossTransition($props : all ease .2s) {
	-webkit-transition:$props;
	-moz-transition: $props;
	-o-transition: $props;
	transition: $props;
}

@mixin displayInlineFlex() {
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -o-flex;
	display:  -ms-inline-flexbox;
	display: inline-flex;
}