.Container {
	max-width: 1260px;
	width: 94%;
	margin: auto;
}

.Full-width {
	width: 100% !important;
}

.Full-height {
	height: 100% !important;
}

.Ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Display-none {
	display:none !important;
}

.Left {
	float:left !important;
}


// ***************** media query helper **************

.hide-on-med-and-down {
	@media #{$medium-and-down} {
	  display: none !important;
	}
  }
.hide-on-med-and-up {
	@media #{$medium-and-up} {
	  display: none !important;
	}
  }
.hide-on-med-only {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
	  display: none !important;
	}
  }
.hide-on-large-only {
	@media #{$large-and-up} {
	  display: none !important;
	}
  }
.hide-on-extra-large-only {
	@media #{$extra-large-and-up} {
	  display: none !important;
	}
  }
.hide-on-small-and-down {
	@media #{$small-and-down} {
		display: none !important;
	}
}
.show-on-extra-large {
	@media #{$extra-large-and-up} {
	  display: block !important;
	}
  }
.show-on-large {
	@media #{$large-and-up} {
	  display: block !important;
	}
  }
.show-on-medium {
	@media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
	  display: block !important;
	}
  }
.show-on-small {
	@media #{$small-and-down} {
	  display: block !important;
	}
  }
.show-on-medium-and-up {
	@media #{$medium-and-up} {
	  display: block !important;
	}
  }
.show-on-medium-and-down {
	@media #{$medium-and-down} {
	  display: block !important;
	}
  }

//*********************** loading style **********************
.loading-wrapper {
	width: 100vw;
	height: 100vh;
	@include displayInlineFlex();
	justify-content: center;
	align-items: center;
}
.Loading {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.Loading:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 6px;
	box-sizing: border-box;
	border: 45px solid $color-green;
	border-color: $color-green transparent $color-green transparent;
	animation: Loading-animation 2.2s infinite;
}
@keyframes Loading-animation {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}
  
  